.accounts {
  padding-left: 120px;
  padding-top: 40px;
}
h2 {
  padding-left: 120px;
  color: #0b8ce9;
}
.pigpic {
  float: right;
}
.categorynames {
  float: right;
}
/* .accounts li {
  float: left;
  padding: 100px;
} */
