.container {
  width: 995px;
  border-radius: 20px;
  height: 580px;
  margin-left: 200px;
}
.item {
  font-weight: bold;
  font-size: 16px;
}
.buttonIndex{
  margin-left: 90px;
  display: block;
  background-color: #0B8CE9;
  color: aliceblue;
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 10px;  
  font-size: large;

}
/* .orlogo{

} */