.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 995px;
  border-radius: 20px;
  height: 580px;
  margin-left: 200px;
}
.item {
  font-weight: bold;
  font-size: 16px;
}
.buttonIndex {
  margin-left: 90px;
  display: block;
  background-color: #0b8ce9;
  color: aliceblue;
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 10px;
  font-size: large;
}
